{# app/Resources/views/Emails/registration.html.twig #}
<h2>Someone has contact you!</h2>

<p>Cuando: {{ "now"|date("m/d/Y H:i:s") }}</p>
<p>Nombre: {{name}}</p>
<p>Email: {{email}}</p>
<p>Message: {{message}}</p>

End.