<section id="page-profile" class="page-profile">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">About me</h2>
            <div class="spacer"></div>
            <p class="section-subtitle">Excellence, commitment, quality, self-learning attitude. These are not just words to me.</p>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class="profile"><img src="{{ asset('img/profile.png') }}" alt="profile" />
                </div>
            </div>
            <div class="col-md-9">
                <p>
                    The pursuit of excellence is a constant in my daily work. 
                    I do not like a job done halfway; I always look for perfection in what I do.
                    I am satisfied only when I do something that works efficiently.
                </p>
                <p>
                    Much of the knowledge that I have acquired during my career is associated with my self-learning attitude. 
                    I really enjoy the challenge of researching something new and mastering it. I am always looking for new things to 
                    learn or improving things I already know. I think the word 'no' only limits your potential. 
                    Everything is possible for me.
                </p>
                <p>
                    I am very enthusiastic and committed to maintain quality and efficiency. I like to commit myself to the things I do, 
                    instead of just being involved. When you love what you do, you give yourself entirely to it. 
                </p>
                <p>
                    I have great experience with PHP development and leading teams. What I look for in a job is to improve my 
                    skills and grow with the company.
                </p>    
            </div>
        </div>
    </div>
</section>