<!-- skills begins -->
<section id="page-blog" class="page-blog">
    <div class="container">

        <header class="section-header">
            <h2 class="section-title"><span>Blog</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">Here, i will be sharing knowledge!</p>
        </header>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 text-center">
                <a class="btn btn-default" href="{{ path('blog') }}" role="button">Take a look!</a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>