<!-- current begins -->
<section id="page-current" class="page-current">
    <div class="container">

        <header class="section-header">
            <h2 class="section-title"><span>Current</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">This is what i'm doing at the present</p>
        </header>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2 ">
                <a>
                    <img src="{{ asset('img/summalogo.png') }}" alt="Summa Solutions" />
                </a>
                <a>
                    <img src="{{ asset('img/magentologo.png') }}" alt="Magento" />
                </a>
                <a>
                    <img src="{{ asset('img/meetmagento.png') }}" alt="Meet Magento" />
                </a>
            </div>
            <div class="col-md-6">
                <article class="experience">
                    <header>
                        <h3>Summa Solutions</h3>
                        <p>Senior Backend Developer / May 2016 - Present</p>
                    </header>
                    <p>
                        Magento 2 backend developer. Providing diagnosis, consulting, development, testing, deployment and support
                        of Magento 2 e-commerce solutions.
                        Technical interviews with applicants. Induction to new members.
                        Speaker in the Meet Magento 2016 Argentina.
                    </p>
                    <h4>Technologies</h4>
                    <p>PHP 5.*, MySQL, jQuery, javascript.</p>
                    <p>Frameworks: Magento 2.</p>
                    <p>Operating Systems: Linux, Windows, Mac OS.</p>
                    <p>Versioning system: GIT.</p>
                    <p>Web Services (client and server): SOAP and REST.</p>
                    <p>Other skills: PHP Composer, vi / vim, Vagrant, unit testing, TDD, Coding Standard, Markdown.</p>
                </article>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>