<section id="page-education" class="page-education">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Education</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">University Systems Analyst</p>
        </header>
        <div class="row">
            <div class="col-md-4">
                <article class="education">
                    <header>
                        <h3>Universidad Tecnológica Nacional (UTN)</h3>
                        <p>Information Systems Engineering - <strong>On going</strong></p>
                    </header>
                    <p>
                        The engineer in Information Systems is a professional with 
                        solid analytical training that allows them the interpretation 
                        and resolution of problems through the use of methodologies 
                        of systems and information processing technologies. For its 
                        preparation is particularly suitable for integrating 
                        information from different concurrent disciplinary fields to 
                        a common project. The acquired capacity enabling it to meet 
                        solvency planning, development, management and control of 
                        information systems. It has knowledge that allows you to 
                        manage the human, physical and application resources involved 
                        in the development of information systems projects. Acquired 
                        skills that enable it to perform management functions in line 
                        with their training. It is able to address research and 
                        development, integrating interdisciplinary teams for this 
                        purpose in cooperation, or taking effective leadership in the 
                        coordination of technical and methodological thereof.
                    </p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="education">
                    <header>
                        <h3>Universidad Tecnológica Nacional (UTN)</h3>
                        <p>University Systems Analyst - <strong>Graduated:</strong> 2008</p>
                    </header>
                    <p>
                        University Systems Analyst is oriented to functional analysis 
                        activity and strongly related to the implementation of the 
                        computer in the management and administration. These are their 
                        main activities: The diagnosis of information needs, design 
                        new systems and / or modify existing ones. Make survey, 
                        analysis, design, implementation and testing of information 
                        systems. Assist in the evaluation and selection from the 
                        point of view of information systems, processing equipment 
                        and communication systems base. Participate in the 
                        preparation of project feasibility study. To determine the 
                        profile of the auxiliary human resources for the development 
                        of the Information System; contribute to the selection and 
                        training of the same. Conduct arbitrations, skills and 
                        appraisals related to data processing means.
                    </p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="education">
                    <header>
                        <h3>ESCUELA TECNICA Nº35 "ING. EDUARDO LATZINA"</h3>
                        <p>Computer Technician - <strong>Graduated:</strong> 2002</p>
                    </header>
                    <p>
                        The student is able to:
                        Assemble, analyze and solve problems regarding information 
                        needs developing specific software.
                        Preparing documentation, such as user manuals and systems 
                        related to their specialty.
                        Specific software development through various single-user 
                        level programming languages and / or Multi.
                        Audit and determine the reliability and efficiency of a 
                        software management level and / or accounting.
                        Evaluate and deploy software packages.
                        Support and user training.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>