<section id="page-experience" class="page-experience">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Experience</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">This is why you need me</p>
        </header>

        <div class="row">
            <div class="col-md-3">
                <article class="experience">
                    <header>
                        <h3>Intraway Corp.</h3>
                        <p>Project Leader / December 2011 - February 2016</p>
                    </header>
                    <p>
                        Front-end DOCSIS development team leadership and management. 
                        Complex features and concept proof development. Mission-critical 
                        applications and database queries tuning. Agile development 
                        methodologies usage, like SCRUM or Kanban. Development of monitors, 
                        kanban boards, KPI (Key Performance Indicator) monitor, etc. 
                        Review and fix functional specifications. Technical review of 
                        commercial proposals (Scope of work - "SOW"). Planning product 
                        releases. Technical assistance to Support and Professional Services 
                        teams. Technical interviews with applicants.
                    </p>
                    <h4>Technologies</h4>
                    <p>PHP 5.*, Oracle, MySQL, jQuery, javascript, Bootstrap.</p>
                    <p>Frameworks: Symfony 2.7 / 2.8 / 3.0, Codeigniter, ultra lightweight MVC Framework developed in-house by me and other Project Leaders.</p>
                    <p>Operating Systems: Linux, Windows, Mac OS and Solaris (only support tasks on applications on the latter).</p>
                    <p>Versioning system: GIT and Subversion.</p>
                    <p>Web Services (client and server): SOAP and REST.</p>
                    <p>Other skills: PHP Composer, vi / vim, Docker, Vagrant, unit testing, TDD, Coding Standard, Markdown, SOAP UI.</p>
                </article>
            </div>
            <div class="col-md-3">
                <article class="experience">
                    <header>
                        <h3>Intraway Corp.</h3>
                        <p>Solution Developer / April 2009 - November 2011</p>
                    </header>
                    <p>
                        Web applications development to manage telecommunication devices. It 
                        includes a lightway CRM, an intranet, a support application and the 
                        core Web Service. Helping in configuration and customization of this 
                        applications in production environments. Bug detection and fixing. 
                        Unit and functional testing development.
                    </p>
                    <h4>Technologies</h4>
                    <p>PHP 5.*, Oracle, MySQL, jQuery, javascript.</p>
                    <p>Frameworks: Codeigniter.</p>
                    <p>Operating Systems: Linux, Windows.</p>
                    <p>Versioning system: SVN.</p>
                    <p>Web Services (client and server): SOAP.</p>
                    <p>Other skills: vi / vim, unit testing, TDD, PEAR Coding Standard, SOAP UI.</p>
                </article>
            </div>
            <div class="col-md-3">
                <article class="experience">
                    <header>
                        <h3>Mango Labs</h3>
                        <p>Co-Founder / January 2008 - January 2009</p>
                    </header>
                    <p>
                        Web sites development on demand. Analysis and design of web based 
                        solutions, e-commerce and institutional sites. Preparation of 
                        commercial proposals and technical requirements. Meetings with 
                        customers to review their needs.
                    </p>
                    <h4>Technologies</h4>
                    <p>PHP 5.*, MySQL, Mootools, Prototype, javascript.</p>
                    <p>Frameworks: CakePHP.</p>
                    <p>Operating Systems: Linux, Windows.</p>
                    <p>Other skills: vi / vim, unit testing.</p>                        
                </article>
            </div>
            <div class="col-md-3">
                <article class="experience">
                    <header>
                        <h3>Casamientos Online</h3>
                        <p>Developer / January 2007 - January 2008</p>
                    </header>
                    <p>Casamientos Online provides a link between couples who want to 
                        get married and providers, like places, souveniers, flowers 
                        and more. Web page redesign. Development and maintenance of 
                        internal applications. Development of new features for 
                        customers like invitation design and sending, tables 
                        arrangement, etc.
                    </p>
                    <h4>Technologies</h4>
                    <p>PHP 5.*, MySQL, Mootools, javascript.</p>
                    <p>Operating Systems: Linux, Windows.</p>
                    <p>Other skills: vi / vim, unit testing.</p> 
                </article>
            </div>
        </div>
    </div>
</section>