<section id="page-welcome" class="page-welcome">
    <div>
        <ul class="slider-controls">
            <li>
                <a id="vegas-next" class="next" href="javascript:void(0)"></a>
            </li>
            <li>
                <a id="vegas-prev" class="prev" href="javascript:void(0)"></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <header class="centered">
                <h1>GERM&Aacute;N NEMES</h1>
                <p>DEVELOPER</p>
            </header>
            <div class="social-icons">
                <a href="https://twitter.com/gnemes" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                <!--
                <a href="https://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                -->
                <a href="https://ar.linkedin.com/in/german-nemes-43a5229" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                <!--
                <a href="https://www.google.com/" class="btn btn-round btn-clear btn-google"><i class="fa fa-google-plus"></i></a>
                -->
                <a href="{{ asset('pdf/gnemes_cv.pdf') }}" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-file-pdf-o"></i></a>
            </div>
            <a href="#page-contact" class="btn btn-default hire-me">Hire me!</a>
        </div>
    </div>
</section>