<!-- skills begins -->
<section id="page-skills" class="page-skills">
    <div class="container">

        <header class="section-header">
            <h2 class="section-title"><span>Skills</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">These are my skills, always willing to learn more </p>
        </header>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2 ">
                <div class="row">
                    <h3>PHP</h3>
                </div>
                <div class="row">
                    <h3>Bootstrap</h3>
                </div>
                <div class="row">
                    <h3>TDD</h3>
                </div>
                <div class="row">
                    <h3>Coding Standard</h3>
                </div>
                <div class="row">
                    <h3>PHP Composer</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <h3>MySQL</h3>
                </div>
                <div class="row">
                    <h3>Javascript</h3>
                </div>
                <div class="row">
                    <h3>Unit Testing</h3>
                </div>
                <div class="row">
                    <h3>GIT</h3>
                </div>
                <div class="row">
                    <h3>REST</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <h3>jQuery</h3>
                </div>
                <div class="row">
                    <h3>Oracle</h3>
                </div>
                <div class="row">
                    <h3>OOP</h3>
                </div>
                <div class="row">
                    <h3>Linux</h3>
                </div>
                <div class="row">
                    <h3>Vagrant</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <h3>Symfony</h3>
                </div>
                <div class="row">
                    <h3>SOAP</h3>
                </div>
                <div class="row">
                    <h3>Docker</h3>
                </div>
                <div class="row">
                    <h3>Tech Interviews</h3>
                </div>
                <div class="row">
                    <h3>Subversion</h3>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>