<div class="content-grid-info">
    <img src="{{ asset('img/posts/preference.jpg') }}" alt="Preferencias sobre interfaces"/>
    <div class="post-info">
        <h4>
            <a href="{{ path('blog_post', {'id': 1}) }}">
                Magento 2 - Preferencias sobre interfaces
            </a>  
            {% if comments.1 is defined %}
            {%    set c = comments.1 %}    
            {% else %}
            {%    set c = 0 %}    
            {% endif %}    
            2016/11/01 - {{c}} comentarios
        </h4>
        <p>
            Magento 2 es todo un nuevo mundo por descubrir. En este post queria 
            comentarles sobre una particularidad con la que me encontre al estar 
            trabajando en un proyecto que incluia preferencias sobre interfaces.
        </p>
        <a href="{{ path('blog_post', {'id': 1}) }}"><span></span>LEER MAS</a>
    </div>
</div>