{% extends 'BlogBundle:Default:posts/base.html.twig' %}

{% block post %}
<div class="single-grid">
    <img src="{{ asset('img/posts/preference.jpg') }}" alt="Preferencias sobre interfaces"/>						 					 
    <p>
    </p>
</div>
{% endblock %}    
